**Project Title**
The Economic Impact of Natural Disasters on Local Economies

**Problem Statement**: Natural disasters, such as floods and droughts, cause significant economic disruption and financial loss. Predicting the monetary impact of these events is challenging due to the complex interaction of environmental and economic factors. By creating a predictive model, this project can help improve disaster preparedness, inform resource allocation, and strengthen economic resilience in affected regions.

**Description**: Analyzing the economic impact of disasters is a complex and often manual process. It's difficult to get a full picture of the financial damage and prepare for future events effectively. By following a structured data science pipeline, we can automate this analysis. Our project will use historical data to build a predictive model that forecasts economic loss. This can improve disaster preparedness, inform better resource allocation, and ultimately strengthen economic resilience in affected regions.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
df_disaster = pd.read_csv('events-US-1980-2024.csv', skiprows=2)
df_agri = pd.read_csv('BiotechCropsAllTables2024.csv', skiprows=2, header=None, encoding='latin1')

In [5]:
print(df_disaster.head())
print(df_agri.head())

                                                Name          Disaster  \
0   Southern Severe Storms and Flooding (April 1980)          Flooding
1                      Hurricane Allen (August 1980)  Tropical Cyclone
2  Central/Eastern Drought/Heat Wave (Summer-Fall...           Drought
3                      Florida Freeze (January 1981)            Freeze
4  Severe Storms, Flash Floods, Hail, Tornadoes (...      Severe Storm

   Begin Date  End Date  CPI-Adjusted Cost  Unadjusted Cost  Deaths
0    19800410  19800417             2756.4            706.8      30
1    19800807  19800811             2236.2            590.0      13
2    19800601  19801130            40681.2          10020.0    1260
3    19810112  19810114             2076.4            572.0       0
4    19810505  19810510             1409.1            401.4      20
                                                   0         1     2   3  \
0  Insect-resistant (Bt) only (percent of all cor...  Illinois  2001  12
1  Insect-resistant (Bt) only (percent of all cor...  Illinois  2002  18
2  Insect-resistant (Bt) only (percent of all cor...  Illinois  2003  23
3  Insect-resistant (Bt) only (percent of all cor...  Illinois  2004  26
4  Insect-resistant (Bt) only (percent of all cor...  Illinois  2005  25

                                                   4
0  Genetically engineered (GE) corn varieties by ...
1  Genetically engineered (GE) corn varieties by ...
2  Genetically engineered (GE) corn varieties by ...
3  Genetically engineered (GE) corn varieties by ...
4  Genetically engineered (GE) corn varieties by ...

In [6]:
print(df_disaster.info())
print(df_disaster.describe())
print(df_disaster.isnull().sum())

print(df_agri.info())
print(df_agri.describe())
print(df_agri.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               403 non-null    object
 1   Disaster           403 non-null    object
 2   Begin Date         403 non-null    int64
 3   End Date           403 non-null    int64
 4   CPI-Adjusted Cost  403 non-null    float64
 5   Unadjusted Cost    403 non-null    float64
 6   Deaths             403 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 22.2+ KB
None
         Begin Date      End Date  CPI-Adjusted Cost  Unadjusted Cost  \
count  4.030000e+02  4.030000e+02         403.000000       403.000000
mean   2.010085e+07  2.010103e+07        7239.718362      5111.904963
std    1.209757e+05  1.208701e+05       18086.927893     13540.309989
min    1.980041e+07  1.980042e+07        1063.800000       400.000000
25%    2.002085e+07  2.002102e+07        1627.000000      1104.750000
50%    2.013091e+07  2.013112e+07        2456.900000      1738.500000
75%    2.020076e+07  2.020081e+07        4923.200000      3235.650000
max    2.024101e+07  2.024123e+07      201297.500000    125029.500000

            Deaths
count   403.000000
mean     42.037221
std     195.227705
min       0.000000
25%       0.500000
50%       5.000000
75%      25.000000
max    2981.000000
Name                 0
Disaster             0
Begin Date           0
End Date             0
CPI-Adjusted Cost    0
Unadjusted Cost      0
Deaths               0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3499 entries, 0 to 3498
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3499 non-null   object
 1   1       3499 non-null   object
 2   2       3499 non-null   int64
 3   3       3499 non-null   object
 4   4       3499 non-null   object
dtypes: int64(1), object(4)
memory usage: 136.8+ KB
None
                 2
count  3499.000000
mean   2012.003430
std       7.210309
min    2000.000000
25%    2006.000000
50%    2012.000000
75%    2018.000000
max    2024.000000
0    0
1    0
2    0
3    0
4    0
dtype: int64

In [7]:
df_agri.columns = ['Trait', 'State', 'Year', 'Value', 'Description']

In [8]:
df_agri.head()

,Trait,State,Year,Value,Description
0,Insect-resistant (Bt) only (percent of all cor...,Illinois,2001,12,Genetically engineered (GE) corn varieties by ...
1,Insect-resistant (Bt) only (percent of all cor...,Illinois,2002,18,Genetically engineered (GE) corn varieties by ...
2,Insect-resistant (Bt) only (percent of all cor...,Illinois,2003,23,Genetically engineered (GE) corn varieties by ...
3,Insect-resistant (Bt) only (percent of all cor...,Illinois,2004,26,Genetically engineered (GE) corn varieties by ...
4,Insect-resistant (Bt) only (percent of all cor...,Illinois,2005,25,Genetically engineered (GE) corn varieties by ...